@import './base.css';
@import './common.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  box-sizing: border-box;
  /* background-color: rgba(0, 0, 0, 1); */
}

a,
.green {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.4s;
}
